<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <rewrite>
    <rules>
       <rule name="ReverseProxyInboundRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/purchase/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9000/api/purchase/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundWorkFlowRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/workflow/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9050/api/workflow/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundNotificationsRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/notification/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9051/api/notification/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundPartRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/part/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9052/api/part/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundCustomFormsRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/customforms/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9053/api/customforms/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundProductionRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/production/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9054/api/production/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundSalesRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/sales/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9055/api/sales/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundLogisticsRule" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="api/logistics/*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:9056/api/logistics/{R:1}" />
        </rule>
        <rule name="AngularRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
    </rules>
  </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
</system.webServer>
<system.web>
  <httpRuntime requestPathInvalidCharacters="&lt;,>,%,&amp;,:,\,?" />
</system.web>
</configuration>